<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<nav class="navbar navbar-default">
  <div class="container">
    
      <a class="navbar-brand" href="/">JeremyBarkley.com</a>
     
      <div class="navbar-right">
      <a class="navbar-brand " href="/posts">Blog </a>

      <% if user_signed_in? %>

      <%= link_to "Create New", new_post_path , class:"navbar-brand"%>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"navbar-brand"%>
      <% end %>
    </div>

    
  </div><!-- /.container-fluid -->
</nav>
   <% if notice %>

   <p class="notice"><%= notice %></p>
   <% else alert %>    
       <p class="alert"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
